.favorites-title {
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
}

.search-link {
    color: var(--primary-white);
    background-color: var(--dark-btn);
    text-decoration: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 0.9rem;
    width: 100%;
    margin-top: 2rem;
    transition: 0.2s;
    font-weight: 700;
}
