@media (max-width: 769px) {
    .movie-info {
        flex-direction: column; /* Gör så att alla delar staplas vertikalt */
        margin: 2rem 1rem; /* Justera marginalen för små skärmar */
    }

    .movie-info__details {
        margin-top: 2rem; /* Lägg till lite utrymme ovanför när den flyttas ner */
        order: 1; /* Tvinga den att komma efter de andra delarna */
    }

    .movie-info__top,
    .movie-info__people,
    .movie-info__plot,
    .movie-info__poster {
        flex-direction: column; /* Gör att de ska staplas vertikalt när skärmen är liten */
        width: 100%; /* Gör så att de tar upp hela bredden */
    }

    .movie-info__poster {
        padding: 1rem; /* Justera padding för bättre utrymme */
    }
}
