@media (max-width: 480px) {
    /* Stilar för små telefoner */
    .header__logo {
        width: 120px;
    }

    .header__input {
        width: 180px;
    }

    .header__form-btn {
        right: 10px;
    }
}
