.movie-info {
    display: flex;
    margin: 1rem;
    gap: 2rem;
}

.movie-info__poster {
    text-align: center;
}

.movie-info__details {
    display: flex;
    flex-direction: column;
}

.movie-info__top {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    border-top: 3px solid #ccc; /* Adds a top border */
    border-bottom: 3px solid #ccc; /* Adds a bottom border */
    border-radius: var(--radius-7);
    background-color: var(--primary-grey);
    box-shadow: 0 4px 16px rgba(180, 180, 180, 0.485);
}
