.podium-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: center;
    align-items: flex-end;
    gap: 3rem;
    padding: 2rem 1rem;
    width: 100%;
}

.podium {
    min-width: 30%;
    max-width: 300px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    background-color: var(--primary-grey);
    justify-self: center;
    border-radius: var(--radius-7);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.podium:hover {
    transform: scale(1.01);
    box-shadow: var(--box-shadow-light);
}

.movie-card__title--podium {
    font-size: 1.2rem;
    font-weight: 600;
}

.podium img {
    width: 100%;

    border-top-left-radius: var(--radius-7);
    border-top-right-radius: var(--radius-7);
}

.podium-rank {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    background: var(--text-yellow);
    color: var(--header-grey);
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.third-place,
.second-place {
    top: 70px;
}

.movie-rank {
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
    background: var(--text-yellow);
    color: var(--header-grey);
    padding: 3px 6px;
    border-radius: 5px;
}

/*  ======================= movie list styling ========================= */
.movie-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 90%;
}

.movie-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem;
    border-bottom: 0.1rem solid var(--primary-grey);
    font-size: 0.9rem;
}

.movie-list-item:last-child {
    border-bottom: none;
}

.movie-list__rank {
    font-weight: bold;
    background: var(--text-yellow);
    color: var(--header-grey);
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    flex-shrink: 0;
}

.movie-card__title {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    flex-grow: 1;
}

.movie-card__title:hover {
    text-decoration: underline;
}

.trailer-link {
    color: #3498db;
    text-decoration: none;
    font-size: 0.9rem;
}

.trailer-link:hover {
    text-decoration: underline;
}

.favorite-btn {
    background-color: var(--primary-grey);
    border: none;
    padding: 0.5rem 0.8rem;
    width: 7%;
    margin: 0;
    border-radius: 2.5rem;
    color: var(--blue-text);
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.favorite-btn:hover {
    background-color: #8ba4ca28;
}

.favorite-btn i {
    font-size: 1.2rem;
    margin: 0;
}

@media (max-width: 768px) {
    .podium-section {
        gap: 0.5rem;
    }

    .podium img {
        max-width: 200px;
    }

    .podium-rank {
        font-size: 1rem;
        padding: 0.3rem 0.8rem;
    }
    .movie-list-item {
        font-size: 0.8rem;
    }

    .movie-list__rank {
        font-size: 0.9rem;
    }

    .movie-card__title {
        font-size: 1rem;
    }

    .trailer-link {
        font-size: 0.8rem;
    }

    .favorite-btn {
        font-size: 0.9rem;
        width: 10%;
    }

    .favorite-btn i {
        font-size: 1rem;
    }
    .podium {
        max-width: 200px;
    }
}

@media (max-width: 480px) {
    .movie-card__title--podium {
        font-size: 0.7rem;
        font-weight: 600;
    }
    .podium-section {
        padding-inline: 0.5rem;
        flex-direction: column;
        gap: 0.2rem;
    }

    .podium {
        max-width: 100px;
    }
}
