@import url("./carousel.css");
@import url("./movieCard.css");
@import url("./moviePage.css");
@import url("./favoritesPage.css");
@import url("./uHeader.css");
@import url("./searchbar.css");
@import url("./searchPage.css");
@import url("./podium.css");
@import url("./footer.css");
@import url("./actorPage.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

:root {
    --header-grey: #121212;
    --primary-bg: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1a1a1a;
    --text-yellow: #f5c518;
    --text-gray: #bebebe;
    --dark-btn: #2c2c2c;
    --red-btn: #6c3535a6;
    --radius-7: 0.7rem;
    --blue-text: #4891ff;
    --green-text: #48ff91;
    --box-shadow-light: 0 1rem 3rem 0.75rem rgba(255, 255, 255, 0.2);
    --error-txt: rgb(212, 19, 19);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-white);
    font-family: "Arial", sans-serif;
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

a:hover {
    text-decoration: underline;
}

.content-wrapper {
    max-width: 1180px;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.error-msg {
    margin-top: 8rem;
    color: var(--error-txt);
    font-size: 1rem;
    justify-self: end;

    padding: 0.5rem 1rem;
    width: 90%;
    background-color: var(--dark-btn);
    border-radius: 3rem;
}

.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}

.content-wrapper--trailers {
    margin-top: 0;
    display: block;
}

.content-wrapper--search {
    margin: 0;
    gap: 4rem;
}

.popular-title {
    color: var(--text-yellow);
}

.landing-page-title {
    display: none;
    background-color: var(--header-grey);
    text-align: center;
    width: 100%;
    padding: 1.7rem;

    color: var(--text-yellow);
}

.movie-card__favorite-btn--added {
    color: var(--green-text);
}

.favorite-btn--black-bg {
    background-color: var(--primary-bg);
    width: 17%;
}
.selected {
    color: #000000;
    background-color: var(--text-yellow);
    border: 1px solid var(--primary-white);
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
    .header__nav {
        display: none;
    }
    .movie-info,
    .movie-info__top,
    .movie-info__people,
    .movie-info__plot,
    .movie-info__poster {
        flex-direction: column;
        width: 90%;
        margin: 2rem 0.5rem;
    }

    .movie-info__top {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .movie-info__list-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 2rem;
    }

    .movie-info__poster-container {
        min-height: auto;
        width: 100%;
    }
    .movie-info__details,
    .movie-info {
        justify-content: center;
        align-items: center;
    }
    .header__logo-link,
    .header__logo {
        max-width: 70px;
    }

    .header__nav-list {
        gap: 0;
    }

    .menu__navigation {
        display: flex;
    }
    .menu__button {
        display: flex;
    }
    .header__form-btn {
        padding: 0.44rem;
    }
}
@media screen and (max-width: 576px) {
    .landing-page-title {
        display: block;
    }
    .content-wrapper {
        margin-top: 0rem;
    }
    .header {
        background: transparent;
    }
    .header__container {
        display: none;
    }
    .menu {
        position: absolute;
        right: 1.5rem;
        margin-right: 2rem;
    }

    .movie-info__poster-container {
        width: 100%;
        height: auto;
    }

    .movie-info__poster img {
        object-fit: contain;
        width: 100%;
        height: auto;
    }

    .movie-info__title {
        font-size: 1.2rem;
    }

    .menu__button {
        top: 0.4rem;
        left: -1rem;
    }

    .card-container {
        padding: 2rem 0.5rem;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 0.5rem;
    }

    .movie-card {
        width: 100%;
    }
}
