@import url("./carousel.css");
@import url("./movieCard.css");
@import url("./moviePage.css");
@import url("./favoritesPage.css");
@import url("./mediaPhone.css");
@import url("./mediaTablet.css");
@import url("./uHeader.css");
@import url("./searchbar.css");
@import url("./searchPage.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
    --header-grey: #121212;
    /* Primary BG bör vara din bakgrundsfärg */
    --primary-bg: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1a1a1a;
    --text-yellow: #f5c518;
    --text-gray: #bebebe;
    --dark-btn: #2c2c2c;
    --red-btn: #6c3535a6;
    --radius-7: 0.7rem;
    --box-shadow-light: 0 0 20px 0.5rem rgba(255, 255, 255, 0.1);
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: var(--primary-bg);
    max-width: 100%;
    font-family: "Arial", sans-serif;
    color: var(--primary-white);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a:hover {
    text-decoration: underline;
}

/* Utils */
.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}

@media (max-width: 769px) {
    .movie-info {
        flex-direction: column; /* Gör så att alla delar staplas vertikalt */
        margin: 2rem 1rem; /* Justera marginalen för små skärmar */
    }

    .movie-info__details {
        margin-top: 2rem; /* Lägg till lite utrymme ovanför när den flyttas ner */
        order: 1; /* Tvinga den att komma efter de andra delarna */
    }

    .movie-info__top,
    .movie-info__people,
    .movie-info__plot,
    .movie-info__poster {
        flex-direction: column; /* Gör att de ska staplas vertikalt när skärmen är liten */
        width: 100%; /* Gör så att de tar upp hela bredden */
    }

    .movie-info__poster {
        padding: 1rem; /* Justera padding för bättre utrymme */
    }
    .header__container {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__logo {
        margin-bottom: 1rem;
    }

    .header__nav-list {
        flex-direction: column;
        margin-top: 1rem;
    }

    .header__nav-item {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .header__input {
        width: 100%;
    }

    .content-wrapper {
        margin: 10rem auto;
    }
}
