/* Header Styling */
.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1rem 1rem;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    min-height: 81px;
    gap: 0.8rem;
    justify-content: center;
}

.header__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 90%;
    min-width: 70%;
    gap: 2rem;
}

.header__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    width: 125px;
    height: auto;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
}
.header__logo:hover {
    transform: scale(1.02);
}
.header__nav {
    display: flex;

    align-items: center;
}

.header__nav-list {
    width: 100%;
    gap: 2rem;
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: center;
}

.header__nav-item {
    text-align: center;
}

.header__nav-link {
    color: var(--primary-white);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.7rem 1.1rem;
    border-radius: 5rem;
    transition: all 0.35s ease-in-out;
}

.header__nav-link:hover,
.menu__link:hover {
    text-decoration: none;
    background-color: var(--dark-btn);
}

.header__nav-link:focus,
.menu__link:focus {
    border: 2px solid var(--text-yellow);
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 11;
}

.header__form-label {
    position: absolute;
    left: -9999px; /* Hides the label but makes it accessible for screen readers */
}

.header__input {
    z-index: 10;
    width: 100%;
    padding: 0.6rem 0.5rem;
    outline: none;
    border: 2px solid var(--primary-grey);
    border-right: none;
    border-radius: var(--radius-7);
    background-color: var(--primary-white);
    color: var(--primary-bg);
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.header__input:focus {
    border: 2px solid var(--text-yellow);

    box-shadow: 0 0 4px 1px var(--text-yellow);
    outline: none;
}
.header__form-btn {
    z-index: 1000;
    position: relative;
    border-radius: var(--radius-7);
    align-self: flex-end;
    justify-self: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: var(--primary-white);
    padding: 0.43rem 0.9rem;
    cursor: pointer;
    border: 2px solid var(--primary-grey);
    border-left: none;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.header__form-btn--padding {
    padding: 0.45rem 0.9rem;
}

.header__form-btn:hover {
    border: 2px solid var(--text-yellow);
    border-left: none;
    box-shadow: 0 0 4px 1px var(--text-yellow);
    background-color: var(--primary-white);
    outline: none;
}

.header__form-btn img {
    width: 20px;
    height: 20px;
}

.header__nav-link--fav {
    position: relative;
}

/* === General Menu Styles === */
.menu__checkbox {
    display: none;
}
/* === Improved Hamburger Menu Styles === */
.menu__button {
    display: none;
    width: 4rem;
    height: 3rem;
    position: absolute;

    align-items: center;
    justify-content: center;
    z-index: 99999;
    cursor: pointer;
    background: transparent;
    border: none;
}

.menu__button-line,
.menu__button-line::before,
.menu__button-line::after {
    border-radius: var(--radius-7);
    background-color: var(--primary-white);
    width: 2.5rem;
    height: 3px;
    position: absolute;
    transition: all 0.4s ease-in-out;
}

.menu__button-line::before,
.menu__button-line::after {
    content: "";
    position: absolute;
    left: 0;
}

.menu__button-line::before {
    top: -9px;
}

.menu__button-line::after {
    top: 9px;
}

/* Menu Open Effect */
.menu__checkbox:checked ~ .menu__button .menu__button-line {
    transform: rotate(45deg);
}

.menu__checkbox:checked ~ .menu__button .menu__button-line::before {
    transform: rotate(-90deg);
    top: 0;
}

.menu__checkbox:checked ~ .menu__button .menu__button-line::after {
    opacity: 0;
}

/* Fullscreen Menu */
.menu__navigation {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-grey);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;
    justify-content: center;

    flex-direction: column;
}

.menu__checkbox:checked ~ .menu__navigation {
    transform: translateX(50%);
}

/* Menu Links */
.menu__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 15rem;
    list-style: none;
    padding: 0;
    gap: 2rem;
}

.menu__item {
    margin-left: 0.5rem;
    border-left: 2px solid var(--primary-bg);
}
.menu__list .menu__item:nth-child(1) {
    margin-left: 0.5rem;
    border: none;
}
.menu__item {
    width: 40%;
}

.menu__logo {
    max-width: 100px;
}

.menu__link {
    text-decoration: none;
    color: var(--primary-white);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.7rem 1.1rem;
    border-radius: 5rem;
    transition: all 0.35s ease-in-out;
}

/* ============== */

.header__nav-link--active {
    color: var(--text-yellow);
}
